:root {
  font-family: 'Spotify Mix';
  letter-spacing: 0px;

  color-scheme: light dark;
  color: #FFFFFF;
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --gray: #1f1f1f;
  --radius-full: 9999px;
}

html, body {
  margin: 0;
  padding: 0;
}