/* header */
#playlist-header {
  padding: 20px;
  align-items: flex-end;
  gap: 20px;
  background: linear-gradient(to bottom, #768ba5, #23374f);
}

#playlist-header-img {
  width: 232px;
  height: 232px;
  border-radius: 4px;
  box-shadow: 0 0 20px #00000050;
}

#playlist-header-subtitle { font-size: 14px; }
#playlist-header-title {
  font-size: 5vw;
  font-weight: 900;
}

#playlist-header-description {
  gap: 4px;
  font-size: 14px;
  color: #c2c7cf;
}
#playlist-header-description-username { color: #FFFFFF; }

/* list */
#playlist-list-option-container {
  padding: 24px;
  justify-content: space-between;
  color: #a7a7a7;
}

#playlist-list-option {
  gap: 24px;
}

#playlist-list-option-start {
  width: 56px;
  height: 56px;
  color: #000000;
  border-radius: var(--radius-full);
  background-color: #20d760;
  cursor: pointer;
}
#playlist-list-option-start:hover {
  transform: scale(1.05);
  background-color: #3be277;
}

#playlist-list-option-preview {
  width: 38px;
  height: 48px;
  position: relative;
  border: 2px solid currentColor;
  border-radius: 8px;
  cursor: pointer;
}
#playlist-list-option-preview:hover #playlist-list-option-preview-spoiler { opacity: 1; }

#playlist-list-option-preview-spoiler {
  width: 38px;
  height: 48px;
  position: absolute;
  top: 0;
  left: 0;
  color: #FFFFFF;
  border-radius: 6px;
  background-color: #00000080;
  transition: 0.4s;
  z-index: 10;
  opacity: 0;
}

#playlist-list-option-preview-img {
  margin: 2px;
  width: 34px;
  height: 44px;
  border-radius: 6px;
}

.playlist-list-option-preview-icon:hover {
  color: #FFFFFF;
  transform: scale(1.05);
  cursor: pointer;
}

#playlist-list-inventory {
  gap: 8px;
  cursor: pointer;
}
#playlist-list-inventory:hover { color: #FFFFFF; }
#playlist-list-inventory-txt { font-size: 14px; }