#premium-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.premium-txt { font-size: 18px; }

#premium-title {
  width: 100%;
  gap: 32px;
  background:
    linear-gradient(to top, #00000080, #00000000),
    linear-gradient(to right, #a11271, #1a418d);
}

#premium-title-txt-container {
  min-width: 460px;
  max-width: 536px;
  flex-direction: column;
  gap: 8px;
}

#premium-title-btn-container { gap: 16px; }

.premium-title-btn {
  padding: 14px 28px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: var(--radius-full);
  cursor: pointer;
}
.premium-title-btn:hover { transform: scale(1.05); }
#premium-title-btn-second { color: #FFFFFF; border: 1px solid #FFFFFF; background-color: #00000000;}

#premium-title-des-container { min-width: 432px; max-width: 756px; }
.premium-title-des { margin: 0; font-size: 12px; }
#premium-title-des-link { text-decoration: underline; }

#premium-plan {
  min-width: 462px;
  max-width: 680px;
  gap: 40px;
  position: relative;
}

#premium-plan-txt-container {
  flex-direction: column;
  gap: 8px;
}

#premium-plan-card-container { gap: 8px; }
.premium-plan-card {
  padding: 4px;
  width: 45px;
  height: 30px;
  border-radius: 4px;
  background-color: #FFFFFF;
}
.premium-plan-card-img {
  width: 45px;
  height: 30px;
}

#premium-plan-container {
  flex-direction: column;
  gap: 8px;
}
#premium-plan-card-more-txt { text-decoration: underline; }
#premium-plan-card-more-txt:hover + #premium-plan-card-more { opacity: 1; }

#premium-plan-card-more {
  padding: 8px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  position: absolute;
  bottom: -76px;
  border-radius: 8px;
  background-color: #FFFFFF;
  opacity: 0;
}

#premium-boon {
  flex-direction: row;
  gap: 32px;
}
.premium-boon-list { gap: 4px; }